.logituit_nextEpisode{
    position: absolute;
    display: block;
    border-radius:  0px !important;
    background-color: #171f2c;
    z-index: 1;
    outline: none;
    /* height: 41.7%;
    width: 23.3%; */
  }
  .mobileNextEpiPopup .playingTimeNextEpisode{
    display: none;
  }
  .mobileNextEpiPopup .loaderContainer{
    margin: auto;
    margin-top: 10px;
  }
  .mobileNextEpiPopup .iconNextClose{
    right: 4.4%;
    width: 20px !important;
    height: 20px !important;
    margin-left: 120% !important;
    /* margin-top: -15.6%; */


    position: absolute;
    top: 4.4% !important;
  }
  .landscapeNextEpiPopup .iconNextClose{
    right: 3.4%;
    display: block;
    margin-left: 90% !important;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4.4%;
  }
  .mobileNextEpiPopup{
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
  }
  .landscapeNextEpiPopup .loaderContainer{
    display: unset;
  }
  .landscapeNextEpiPopup .spinnerBg{
    position: relative;
    margin: auto;
  }
  .landscapeInnerContainer{
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    align-items: center;
  }
.nextEpisodeImage{
    width: 192px;
    height: 108px;
    display:flex;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerNextEpisode{
  /* width: 64.4%; */
  margin: 20px;
  height: fit-content;
}
.iconNextClose{
    width: 12px;
    height: 12px;
    /* display:flex; */
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute;
    right: 0%; */
    /* background-image: url('UIComponent/Component/assets/LogiPlayer_icons/cta-close/icon-close.png'); */    
    /* top: 7.3%;*/
    margin-left: 39px; 
}
.iconNextCloseMobile{
  width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 4.4%;    
    top: 4.4%;
    display: none;
}
.innerContainer{
  position: relative;
  width: 100%;
  display: flex;
  grid-gap: 15px;
}
.nextEpisodeLabel{
  margin: 20px 0 18px 0;
  display: flex;
  grid-gap: 10px;
  flex-direction: column;
  text-align: left;
}
.nextEpisodeLabelMobile{
  margin: 20px 0 20px 0;
  display: flex;
  grid-gap: 8px;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
}
.upNextLabel{
  font-size: 12px;
  font-weight: 600;
  color: #878787;
  left: 6.7%;
  top: 50%;
}
.upNextLabelMobile{
  font-size: 12px;
  font-weight: 600;
  color: #878787;
  margin: 20px 0 12px 0;
  display: none;
}
.contentLabel{
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.assetLabel{
    font-size: 16px;
    font-weight: normal;
    opacity: 0.7;
    color: #ffffff;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(240deg);
    }
    50%{
       transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
      border-right: none;
    }
  }
.iconPlay{
  width : 35px;
  height: 35px;
  display :flex;
  background-position: center;
  background-repeat : no-repeat;
  z-index: 2;
  background-color: #0e141b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position : absolute;
}
.loaderContainer{
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 9px;
}
.loaderContainerMobile{
  position: relative;
  display: flex;
  visibility: hidden;
}
.playingTime{
    font-size: 14px;
}
.forSpace{  
    font-size: 14px;
    font-weight: bold;
}
.logix-center {
    border-radius: 50%;
    top: 0%;
    left: 0%;
}

  .base-timer__path-elapsed{
    stroke-width: 7px;
    stroke: transparent;
  }

  .base-timer__path-remaining-nextEpisode{
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    /* stroke: currentColor; */
    color:#0aa1ea;
    background-repeat: no-repeat;
  }

  .spinnerBg{
    position: relative;
    width: 44px;
    height: 44px;
  }

  .spinnerBg:hover {
    transform: scale(1.1);
  }
  
.base-timer__circle-nextEpisode{
  fill: none;
  stroke: none;
}
  .base-timer__nextEpisode {    
    transform: scaleX(-1);
  }
  .base-timer{
    width: 44px;
    height: 44px;
    position: absolute;
  }
  /* @media (max-width: 480px){
    .nextEpisodeLabel{
      text-align: center;
    }
    .upNextLabel{
      display: none
    }
    .playingTimeNextEpisode,.nextEpisodeImage{
      display: none;
    }
    .spinnerBg{
      position: relative;
      margin: auto;
    }
    .contentLabel{
      font-size: 16px;
    }
    .assetLabel{
      font-size: 12px;
    }
    .iconNextClose{
      right: -50%;
    }
  } */



