.change-email-form {
  .form-group {
    margin: 20px auto;

    .form-data {
      p.current-email {
        color: #ffffff;
        font-size: 16px;
        font-family: sky_med;
      }
    }

    .primary-btn {
      margin-top: 22px;
    }
  }
}