[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon", sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $icon-color;
}
.icon-logout:before {
  content: "\ea01";
  color: #8e81a1;
}
.icon-sports:before {
  content: "\e9df";
}
.icon-bingehelp-plans-and-payment:before {
  content: "\e9e0";
  color: #fff;
}
.icon-bingehelp-troubleshooting:before {
  content: "\e9fd";
  color: #fff;
}
.icon-bingehelp-getting-started:before {
  content: "\e9fe";
  color: #fff;
}
.icon-bingehelp-content-and-viewing:before {
  content: "\e9ff";
  color: #fff;
}
.icon-bingeHelp-Account-and-Profile:before {
  content: "\ea00";
  color: #fff;
}
.icon-share2:before {
  content: "\e9dc";
  color: #fff;
}
.icon-web-browser:before {
  content: "\e9dd";
  color: #8e81a1;
}
.icon-fire_tv:before {
  content: "\e9de";
  color: #fff;
}

.icon-settings1:before {
  content: "\e9da";
  color: #8e81a1;
}

.icon-close:before {
  content: "\e9d9";
  color:#220046;
}

.icon-Notification-Bell-upd .path1:before {
  content: "\e9d5";
  color: rgb(118, 106, 132);
}
.icon-Notification-Bell-upd .path2:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(118, 106, 132);
}
.icon-Notification-Bell-upd .path3:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(225, 0, 146);
}
.icon-icon-search-upd:before {
  content: "\e9d8";
  color: #766a84;
}

.icon-sign-out-upd:before {
  content: "\e9d3";
  color: #8e81a1;
  font-size: 24px;
}
.icon-Account-Refresh:before {
  content: "\e9d4";
  color: #8e81a1;
  font-size: 24px;
}

.icon-kids_in_active-upd:before {
  content: "\e9d1";
  color: #766a84;
}
.icon-Category-upd:before {
  content: "\e9d2";
  color: #766a84;
}

.icon-email-upd:before {
  content: "\e966";
  color: #e10092;
}
.icon-alert-upd:before {
  content: "\e968";
  color: #e56c6c;
}
.icon-auto-renewal-upd:before {
  content: "\e9a4";
  color: #fff;
}
.icon-remove-phone-upd:before {
  content: "\e96a";
  color: #a3a6c2;
}
.icon-success-upd:before {
  content: "\e983";
  color: #009e35;
}
.icon-expired-renewal-upd .path1:before {
  content: "\e984";
  color: rgb(196, 196, 196);
}
.icon-expired-renewal-upd .path2:before {
  content: "\e9a5";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-expired-renewal-upd .path3:before {
  content: "\e9a6";
  margin-left: -0.9755859375em;
  color: rgb(225, 0, 146);
}
.icon-expired-renewal-upd .path4:before {
  content: "\e9a7";
  margin-left: -0.9755859375em;
  color: rgb(225, 0, 146);
}
.icon-yearly-calendar-upd .path1:before {
  content: "\e995";
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path2:before {
  content: "\e9a8";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path3:before {
  content: "\e9a9";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path4:before {
  content: "\e9aa";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path5:before {
  content: "\e9ab";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path6:before {
  content: "\e9ac";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path7:before {
  content: "\e9ad";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path8:before {
  content: "\e9ae";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path9:before {
  content: "\e9af";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path10:before {
  content: "\e9b0";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path11:before {
  content: "\e9ec";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path12:before {
  content: "\e9f7";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-yearly-calendar-upd .path13:before {
  content: "\e9f8";
  margin-left: -0.9755859375em;
  color: none;
}
.icon-yearly-calendar-upd .path14:before {
  content: "\e9f9";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-yearly-calendar-upd .path15:before {
  content: "\e9fa";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-yearly-calendar-upd .path16:before {
  content: "\e9fb";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path1:before {
  content: "\e9b1";
  color: rgb(0, 0, 0);
}
.icon-quaterly-calendar-upd .path2:before {
  content: "\e9b2";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path3:before {
  content: "\e9b3";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path4:before {
  content: "\e9b4";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-quaterly-calendar-upd .path5:before {
  content: "\e9b5";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path6:before {
  content: "\e9b6";
  margin-left: -0.9755859375em;
  color: rgb(0, 0, 0);
}
.icon-quaterly-calendar-upd .path7:before {
  content: "\e9b7";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path8:before {
  content: "\e9b8";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path9:before {
  content: "\e9b9";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path10:before {
  content: "\e9ba";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path11:before {
  content: "\e9bb";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path12:before {
  content: "\e9bc";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path13:before {
  content: "\e9bd";
  margin-left: -0.9755859375em;
  color: none;
}
.icon-quaterly-calendar-upd .path14:before {
  content: "\e9be";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path15:before {
  content: "\e9bf";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-quaterly-calendar-upd .path16:before {
  content: "\e9c0";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path1:before {
  content: "\e9c1";
  color: rgb(0, 0, 0);
}
.icon-monthly-calendar-upd .path2:before {
  content: "\e9c2";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path3:before {
  content: "\e9c3";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path4:before {
  content: "\e9c4";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path5:before {
  content: "\e9c5";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path6:before {
  content: "\e9c6";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path7:before {
  content: "\e9c7";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path8:before {
  content: "\e9c8";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path9:before {
  content: "\e9c9";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path10:before {
  content: "\e9ca";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path11:before {
  content: "\e9cb";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path12:before {
  content: "\e9cc";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path13:before {
  content: "\e9cd";
  margin-left: -0.9755859375em;
  color: none;
}
.icon-monthly-calendar-upd .path14:before {
  content: "\e9ce";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path15:before {
  content: "\e9cf";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-monthly-calendar-upd .path16:before {
  content: "\e9d0";
  margin-left: -0.9755859375em;
  color: rgb(142, 129, 161);
}
.icon-viewing-restriction-upd:before {
  content: "\e9e1";
  color: #8e81a1;
}
.icon-play-upd .path1:before {
  content: "\e9e2";
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-play-upd .path2:before {
  content: "\e9e3";
  margin-left: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.icon-autoplay-trailer-upd:before {
  content: "\e9e4";
  color: #8e81a1;
  font-size:20px;
}
.icon-notification-settings-upd:before {
  content: "\e9e5";
  color: #8e81a1;
}
.icon-switch-account-upd:before {
  content: "\e9e6";
  color: #8e81a1;
  font-size: 20px;
}
.icon-device-manage-upd:before {
  content: "\e9e7";
  color: #8e81a1;
  font-size: 24px;
}
.icon-content-language-upd:before {
  content: "\e9e8";
  color: #8e81a1;
  font-size: 24px;
}
.icon-parental-lock-upd:before {
  content: "\e9e9";
  color: #8e81a1;
  font-size: 20px;
}
.icon-profile-upd:before {
  content: "\e9ea";
  color: #8e81a1;
  font-size: 24px;
}
.icon-settings-upd:before {
  content: "\e9eb";
}
.icon-home:before {
  content: "\e9ed";
  color: #c277a8;
}
.icon-Binge-list:before {
  content: "\e9ee";
  color: #8e81a1;
}
.icon-remove-bingeList-upd:before {
  content: "\e9ef";
  color: #e10092;
}
.icon-audiolanguage-upd:before {
  content: "\e9f0";
}
.icon-Share-upd:before {
  content: "\e9f1";
  color: #fff;
}
.icon-A-upd:before {
  content: "\e9f2";
  color: #fff;
}
.icon-hindiA-upd:before {
  content: "\e9f3";
  color: #fff;
}
.icon-crown-upd .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.icon-crown-upd .path2:before {
  content: "\e9fc";
  margin-left: -1.099609375em;
  color: rgb(225, 0, 146);
}
.icon-mobile-upd:before {
  content: "\e9f4";
  color: #a3a6c2;
}
.icon-tv-upd:before {
  content: "\e9f5";
  color: #fff;
}

.icon-video-icon1:before {
  content: "\e99d";
  color: #fff;
}
.icon-video-icon:before {
  content: "\e9a2";
  color: #fff;
}
.icon-Terms-and-conditions1:before {
  content: "\e996";
  color: #fff;
}
.icon-Referrals1:before {
  content: "\e997";
  color: #fff;
}
.icon-Login1:before {
  content: "\e998";
  color: #fff;
}
.icon-Partner-apps1:before {
  content: "\e999";
  color: #fff;
}
.icon-Platform-support1:before {
  content: "\e99a";
  color: #fff;
}
.icon-Billing-plans1:before {
  content: "\e99b";
  color: #fff;
}
.icon-Content-related:before {
  content: "\e99c";
  color: #fff;
}
.icon-device-manage:before {
  content: "\e978";
  color: #8e81a1;
}
.icon-sign-out:before {
  content: "\e97a";
  color: #8e81a1;
  font-size:20px;
}
.icon-Refresh:before {
  content: "\e980";
  color: #a3a6c2;
  font-size: 20px;
}
.icon-Switch-Account:before {
  content: "\e98b";
  color: #8e81a1;
}
// .icon-content-language:before {
//   content: "\e993";
//   color: #8e81a1;
// }
// .icon-profile:before {
//   content: "\e994";
//   color: #8e81a1;
// }
.icon-Help-Grey:before {
  content: "\e990";
  color: #8e81a1;
}
.icon-Setting:before {
  content: "\e991";
  color: #8e81a1;
}
// .icon-Binge-list:before {
//   content: "\e992";
//   color: #8e81a1;
// }
// .icon-home:before {
//   content: "\e98f";
//   color: #8e81a1;
// }
.icon-icon-search:before {
  content: "\e98e";
  color: #766a84;
}
.icon-icon-web-device:before {
  content: "\e98d";
  color: #a3a6c2;
}
.icon-mobile-device:before {
  content: "\e98a";
  color: #a3a6c2;
}
.icon-Referrals:before {
  content: "\e983";
  color: #fff;
}
.icon-Billing-plans:before {
  content: "\e984";
  color: #fff;
}
.icon-Partner-apps:before {
  content: "\e985";
  color: #fff;
}
.icon-Terms-and-conditions:before {
  content: "\e986";
  color: #fff;
}
.icon-Platform-support:before {
  content: "\e987";
  color: #fff;
}
.icon-Login:before {
  content: "\e988";
  color: #fff;
}
.icon-Profil-1:before {
  content: "\e989";
  color: #fff;
}
.icon-wallet:before {
  content: "\e981";
  color: #a3a6c2;
}
.icon-TV-Shows-2:before {
  content: "\e976";
  color: #a3a6c2;
}
// .icon-Category:before {
//   content: "\e977";
//   color: #a3a6c2;
// }
.icon-Crown:before {
  content: "\e979";
}
.icon-Notification-Bell:before {
  content: "\e97b";
  color: #a3a6c2;
}
.icon-Path:before {
  content: "\e97c";
  color: #a3a6c2;
}
.icon-Right-Blue-Arrow:before {
  content: "\e97d";
  color: #5087c7;
}
.icon-Right-Grey-Arrow:before {
  content: "\e97e";
  color: #fff;
}
.icon-Right-Yellow-Arrow:before {
  content: "\e97f";
}
.icon-plus:before {
  content: "\e975";
  color: #fff;
}
.icon-devices:before {
  content: "\e973";
  color: #fff;
}
.icon-pack-device:before {
  content: "\e974";
  color: #fff;
}
.icon-app-icon-place .path1:before {
  content: "\e970";
  color: rgb(0, 0, 0);
}
.icon-app-icon-place .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(51, 53, 77);
}
.icon-app-icon-place .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(68, 71, 100);
}
// .icon-home-2:before {
//   content: "\e966";
//   color: #fff;
// }
// .icon-home_in_active-1:before {
//   content: "\e967";
//   color: #a3a6c2;
// }
.icon-watchlist_active:before {
  content: "\e968";
}
.icon-watchlist_in_active:before {
  content: "\e969";
}
.icon-movies_active:before {
  content: "\e96a";
  color: #fff;
}
.icon-movies_in_active:before {
  content: "\e96b";
  color: #a3a6c2;
}
.icon-tv_active:before {
  content: "\e96c";
  color: #fff;
}
.icon-kids_active:before {
  content: "\e96d";
  color: #fff;
}
.icon-tv_in_active:before {
  content: "\e96e";
  color: #a3a6c2;
}
// .icon-kids_in_active:before {
//   content: "\e96f";
//   color: #a3a6c2;
// }
.icon-my_subscription:before {
  content: "\e960";
  color: #a3a6c2;
}
.icon-inactive_new:before {
  content: "\e961";
  color: #a3a6c2;
}
.icon-combined_shape:before {
  content: "\e962";
  color: #a3a6c2;
}
.icon-feedback:before {
  content: "\e95f";
  color: #a3a6c2;
}
.icon-chat:before {
  content: "\e95e";
  color: #a3a6c2;
}
.icon-calender:before {
  content: "\e95d";
  color: #a3a6c2;
}
.icon-group-24:before {
  content: "\e95c";
  color: #a3a6c2;
}
.icon-circle-copy:before {
  content: "\e95b";
  color: #a3a6c2;
}
.icon-no-internet:before {
  content: "\e959";
  color: #a3a6c2;
}
.icon-warning:before {
  content: "\e95a";
  color: #a3a6c2;
}
.icon-remove-phon:before {
  content: "\e958";
  color: #a3a6c2;
}
.icon-refresh:before {
  content: "\e954";
  color: #fff;
}
.icon-radio_active .path1:before {
  content: "\e951";
  color: rgb(80, 135, 199);
}
.icon-radio_active .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-oval:before {
  content: "\e94f";
  color: #e56c6c;
}
.icon-trash-grey:before {
  content: "\e950";
  color: #a3a6c2;
}
.icon-notification_settings .path1:before {
  content: "\e94b";
  color: rgb(163, 166, 194);
}
.icon-notification_settings .path2:before {
  content: "\e94c";
  margin-left: -0.9375em;
  color: rgb(163, 166, 194);
}
.icon-notification_settings .path3:before {
  content: "\e94d";
  margin-left: -0.9375em;
  color: rgb(51, 53, 77);
}
.icon-notification_settings .path4:before {
  content: "\e94e";
  margin-left: -0.9375em;
  color: none;
}
.icon-replay .path1:before {
  content: "\e948";
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.icon-replay .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-minimise:before {
  content: "\e946";
  color: #fff;
}
.icon-enlarge:before {
  content: "\e947";
  color: #fff;
}
.icon-percent:before {
  content: "\e941";
  color: #fff;
}
.icon-percent1:before {
  content: "\e943";
  color: #fff;
}
.icon-percent2:before {
  content: "\e944";
  color: #fff;
}
.icon-mute:before {
  content: "\e945";
  color: #fff;
}
.icon-fav:before {
  content: "\e940";
  color: #e5007d;
}
.icon-email:before {
  content: "\e933";
  color: #a3a6c2;
}
.icon-chat1:before {
  content: "\e934";
  color: #a3a6c2;
}
.icon-faq:before {
  content: "\e935";
  color: #a3a6c2;
}
.icon-callback:before {
  content: "\e936";
  color: #a3a6c2;
}
.icon-account1:before {
  content: "\e92f";
  color: #fff;
}
.icon-play-icon .path1:before {
  content: "\e92b";
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
.icon-play-icon .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play1:before {
  content: "\e92c";
  color: #fff;
}
.icon-load-more:before {
  content: "\e92d";
  color: #a3a6c2;
}
.icon-select .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.icon-select .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(80, 135, 199);
}
.icon-select .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-download .path1:before {
  content: "\e929";
  color: rgb(80, 135, 199);
}
.icon-download .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
// .icon-close:before {
//   content: "\e92a";
//   color: #fff;
// }
.icon-arrow-see-all .path1:before {
  content: "\e91d";
  color: rgb(80, 135, 199);
}
.icon-arrow-see-all .path2:before {
  content: "\e93b";
  margin-left: -1.0498046875em;
  color: rgb(255, 255, 255);
}
.icon-camera .path1:before {
  content: "\e91e";
  color: rgb(80, 135, 199);
}
.icon-camera .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-delete .path1:before {
  content: "\e91f";
  color: rgb(80, 135, 199);
}
.icon-delete .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-device:before {
  content: "\e920";
  color: #a3a6c2;
}
.icon-down:before {
  content: "\e926";
  color: #fff;
}
.icon-icon-search1:before {
  content: "\e926";
  color: #fff;
}
.icon-notification-unread .path1:before {
  content: "\e925";
  color: rgb(255, 255, 255);
}
.icon-notification-unread .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(229, 108, 108);
}
.icon-overlay .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
  opacity: 0.0625;
}
.icon-overlay .path2:before {
  content: "\e93f";
  margin-left: -1.6533203125em;
  color: rgb(0, 0, 0);
  opacity: 0.0135;
}
.icon-my-subscription-1:before {
  content: "\e923";
  color: #a3a6c2;
}
.icon-tv1:before {
  content: "\e924";
  color: #a3a6c2;
}
.icon-right:before {
  content: "\e914";
  color: #fff;
}
.icon-switch-account:before {
  content: "\e915";
  color: #a3a6c2;
}
.icon-trans-history:before {
  content: "\e916";
  color: #a3a6c2;
}
.icon-my-offers:before {
  content: "\e917";
  color: #a3a6c2;
}
.icon-more:before {
  content: "\e918";
  color: #a3a6c2;
}
.icon-link-accounts:before {
  content: "\e919";
  color: #a3a6c2;
}
.icon-device-management:before {
  content: "\e91a";
  color: #a3a6c2;
}
.icon-left-arrow:before {
  content: "\e942";
  color: #92908f;
}
.icon-right-arrow:before {
  content: "\e928";
  color: #f60;
}
.icon-check:before {
  content: "\e913";
  color: #df7b2a;
}
.icon-share:before {
  content: "\e949";
  color: #bcbcbc;
}
.icon-watchlist:before {
  content: "\e905";
}
.icon-volume:before {
  content: "\e906";
  color: #fff;
}
.icon-audio-and-subtitles:before {
  content: "\e907";
  color: #fff;
}
.icon-settings:before {
  content: "\e908";
  color: #fff;
}
.icon-select-prev:before {
  content: "\e909";
  color: #fff;
}
.icon-play:before {
  content: "\e90a";
  color: #fff;
}
.icon-back-2:before {
  content: "\e90b";
  color: #fff;
}
.icon-forward:before {
  content: "\e90c";
  color: #fff;
}
.icon-rewind:before {
  content: "\e90d";
  color: #fff;
}
.icon-pause:before {
  content: "\e90e";
  color: #fff;
}
.icon-select-blue .path1:before {
  content: "\e90f";
  color: rgb(80, 135, 199);
}
.icon-select-blue .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-downgrade:before {
  content: "\e953";
  color: #a3a6c2;
}
.icon-upgrade1:before {
  content: "\e955";
  color: #a3a6c2;
}
.icon-info .path1:before {
  content: "\e956";
  color: rgb(80, 135, 199);
}
.icon-info .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-share1:before {
  content: "\e98c";
  color: #bcbcbc;
}
.icon-local_movies:before {
  content: "\e965";
}
.icon-child_care:before {
  content: "\e963";
}
.icon-visibility_off:before {
  content: "\e931";
}
.icon-visibility_on:before {
  content: "\e932";
}
.icon-tv:before {
  content: "\e964";
}
.icon-television:before {
  content: "\e964";
}
.icon-show:before {
  content: "\e964";
}
.icon-pencil:before {
  content: "\e91b";
}
.icon-bell:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-magnifying-glass:before {
  content: "\e900";
}
.icon-inspect:before {
  content: "\e900";
}
.icon-find:before {
  content: "\e900";
}
.icon-star-empty1:before {
  content: "\e92e";
}
.icon-eye-blocked:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e903";
}
.icon-star-empty:before {
  content: "\e902";
}
.icon-bell1:before {
  content: "\e911";
}
.icon-search1:before {
  content: "\e912";
}
.icon-magnifier1:before {
  content: "\e912";
}
.icon-magnifying-glass1:before {
  content: "\e912";
}
.icon-inspect1:before {
  content: "\e912";
}
.icon-find1:before {
  content: "\e912";
}
.icon-mic:before {
  content: "\e982";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-inr:before {
  content: "\e91c";
}
.icon-mail-forward:before {
  content: "\e930";
}
