.video-quality {
  display: none;
  width: 299px;
  height: auto;
  box-shadow: 0 3px 17px 7px rgba(0, 0, 0, 0.2);
  background-color: #33354d;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 10px;
  padding: 31px 0;
  z-index: 999;
  overflow: auto;

  ul {
    width: 55%;
    margin: auto;
  }

  h4 {
    font-size: 28px;
    font-family: sky_med;
    color: $white-color;
    text-align: left;
    padding-left: 39px;
    margin-bottom: 10px;
  }

  li {
    position: relative;
    color: #a3a6c2;
    font-size: 24px;
    font-family: sky_med;
    margin-bottom: 15px;
    text-align: left;

    &:hover {
      color: $white-color;
    }
  }
}
