.pack-listing-container {
  position: relative;
  .login-msg {
    font-family: $font-family-semiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    text-align: end;
    color: #f3cbe3;
    margin-bottom: 16px;
    margin-right: -11%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 420px;
    margin: 0 auto;
    padding-right: 10px;
    // margin-top: 20px;

    span {
      padding-right: 11px;
    }
  }
  .pack-listing-title {
    font-family: $font-family-medium;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    margin: 20px 0;

    // &:before {
    //     content: "";
    //     background-image: url("../../../../assets/images/crown-icon.svg");
    //     background-size: cover;
    //     display: inline-block;
    //     margin-right: 12px;
    //     width: 40px;
    //     height: 40px;
    //     margin-bottom: -10px;
    // }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      font-size: 22px;
    }
    @media only screen and (min-width: 320px) and (max-width: 326px) {
      font-size: 20px;
    }
  }

  ul.current-plan-exist {
    padding-top: 10px;
    position: relative;

    li {
      position: relative;

      // .current-pack-tag {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: center;
      //   align-items: center;
      //   padding: 0px 7px;
      //   position: absolute;
      //   // width: 79px;
      //   height: 23px;
      //   left: 15px;
      //   top: -23px;
      //   background: $purple-100;
      //   border-top-left-radius: 10px;
      //   border-top-right-radius: 10px;
      //   font-family: $font-family-regular;
      //   font-style: normal;
      //   font-weight: 600;
      //   font-size: 13px;
      //   line-height: 120%;
      //   color: #ffffff;
      // }

      .pack-listing {
        .pack-bottom {
          .disabled-plan {
            // background: #5087c7;
            background-color: $bingeBlue-50;
            // opacity: 0.5;
          }
        }
      }
    }
  }
  
  ul.pack-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    // overflow-x: auto;
    // margin: 30px 70px 20px 70px;
    // padding-bottom: 20px;
    // @media only screen and (min-width: 320px) and (max-width: 480px) {
    //   // margin: 20px 10px 0px 10px!important;
    //   // justify-content: initial;
    //   width: 90%;
    // }


    // @media only screen and (min-width: 768px) and (max-width: 1059px) {
    //   // margin: 30px 10px 20px 10px;
    //   // justify-content: center;
    //   width: 50%;
    // }

    // @media only screen and (min-width: 1059px) and (max-width: 1467px) {
    //     // margin: 30px 10px 20px 10px;
    //     // justify-content: center;
    //     width: 40%;
    //   }
    .pack-block-wrapper {
      width: 420px;
      position: relative;
     
      .plan-container{
      .device-details{ 
        .mobile-wrapper {
        padding-left: 4px;
      }
      }
      }
    
      // @media only screen and (min-width: 320px) and (max-width: 480px) {
      //   // margin: 20px 10px 0px 10px!important;
      //   // justify-content: initial;
        
      // } 
      //   @media only screen and (min-width: 320px) and (max-width: 345px) {
      //   // margin: 20px 10px 0px 10px!important;
      //   // justify-content: initial;
      //   width: 320px;
      // }
      // @media only screen and (min-width: 351px) and (max-width: 360px) {
      //   // margin: 20px 10px 0px 10px!important;
      //   // justify-content: initial;
      //   width: 350px;
      // }


      @media only screen and (min-width: 480px) and (max-width: 768px) {
        // margin: 20px 10px 0px 10px!important;
        // justify-content: initial;
        width: 420px;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        // margin: 20px 10px 0px 10px!important;
        // justify-content: initial;
        width: 420px;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1280px) {
        // margin: 20px 10px 0px 10px!important;
        // justify-content: initial;
        width: 420px;
      }

      .bottom-shadow {
        position: absolute;
        height: 43px;
        left: 0px;
        bottom: 85px;
        width: 100%;
        background: linear-gradient(180deg, rgba(2, 0, 5, 0) 0%, #020005 100%);
        z-index: 59;
      }

      li {
        &.mb-top{
          margin-top: 7%;
        }
        margin-bottom: 10px;
      }

      .plan-container {
        .partner-container {

          @media only screen and (min-width: 360px) and (max-width: 480px) {
            width: 300px;
          }
        }
        .partner-container>*{
          margin-bottom: 12px;
        }
      }
    }

    .btn-wrapper {
      border: none;
      width: 100%;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      // position: sticky;
      // bottom: 20px;
    }

    .btn-wrapper[disabled] {
      background: #8e81a1;
      cursor: not-allowed;
      border: none;

      &:hover {
        box-shadow: none;
      }
    }

    .overlay-shadow {
      display: none;
    }

    li {
      .pack-listing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        position: static;
        width: 310px;
        height: 574px;
        left: 0px;
        top: 0px;
        // background: #28293e;
        background: linear-gradient(294.99deg, #020005 0%, #220046 100%);
        mix-blend-mode: normal;
        /* FTV CTA */

        border: 1px solid $bingeBlue-75;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        /* Inside Auto Layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;

        .pack-top {
          .hr {
            border-bottom: 0.5px solid $bingeBlue-75;
            opacity: 0.5;
            width: 100%;
          }

          .pack-head {
            // border-bottom: 0.5px solid #a3a6c2;
            // border-bottom: 0.5px solid #564372;
            padding-bottom: 10px;

            p {
              width: 100%;

              span {
                &:first-child {
                  font-size: 16px;
                  font-family: $font-family-medium;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 19px;
                  letter-spacing: 0px;
                  text-align: left;
                  color: #ffffff;

                  &:before {
                    content: "";
                    background-image: url("../../../../assets/images/crown-icon.svg");
                    display: inline-block;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    margin-bottom: -8px;
                    background-size: cover;
                  }
                }

                &:last-child {
                  font-family: $font-family-regular;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 19px;
                  letter-spacing: 0px;
                  text-align: right;
                  float: right;
                  color: $white-color;
                }
              }
            }
          }

          .pack-body {
            padding-top: 10px;

            .top-parnters {
              height: 116px;
            }

            p {
              &:first-child {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: -0.5px;
                text-align: center;
                color: $white-color;
                margin-bottom: 5px;
                font-family: $font-family-regular;
              }

              &.premium-partner-head {
                font-family: $font-family-regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0px;
                text-align: center;
                color: $white-color;
                margin-top: 25px;
                color: #a3a6c2;
              }
            }

            ul.app-listing {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              width: 100%;
              position: relative;

              li {
                img {
                  height: 35.56px;
                  width: 35.7px;
                  left: 2.2px;
                  top: 2.2px;
                  border-radius: 0px;
                  margin: 5px;
                }
              }

              &.not-included {
                opacity: 0.4;
                // li {
                //     img {
                //         opacity: 0.2;
                //     }
                // }
                // &:before {
                //     height: 100%;
                //     width: inherit;
                //     content: "";
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                //     background: linear-gradient(to right, #28293e, transparent);
                // }
                // &:after {
                //     height: 100%;
                //     width: inherit;
                //     content: "";
                //     position: absolute;
                //     right: 0;
                //     top: 0;
                //     background: linear-gradient(to left, #28293e, transparent);
                // }
              }
            }
          }
        }

        .pack-bottom {
          text-align: center;

          .pack-amount {
            font-family: $font-family-regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: center;
            color: white;
            margin-bottom: 15px;

            span {
              &:first-child {
                margin-right: -3px;
              }
            }
          }

          .footer-message {
            //styleName: Small Text (for Fine Prints);
            font-family: $font-family-regular;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: center;
            color: #d7c6f4;
            height: 30px;
          }

          .sun-text-message {
            margin-top: 10px;
          }

          .primary-btn {
            width: 240px;
            margin-right: 0;
          }
        }

        .suntext-pack-bottom {
          margin-bottom: 38px;
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #ffffff;
        }
      }
    }
  }

  .compare-plan {
    margin: 20px 20px;
    text-align: center;
    font-family: $font-family-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: $pink-25;
    cursor: pointer;
    position: relative;
    padding-bottom: 50px;
  }

  .preemium-text {
    background: linear-gradient(270deg,
        #ffa800 0%,
        #fff389 45.31%,
        #ffa800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (max-width: 480px) {
  .pack-listing-container {
    // height: 70vh;

    .login-msg{
      width:100%;
      margin-top: 0;
       padding-top: 10px;
      padding-right: 24px;
      overscroll-behavior: contain;
    }
   
    .scrollable{
      height: 70vh;
      overflow-y: scroll;
      padding-right: 7px;
     
      &::-webkit-scrollbar {
        width: 4px;
        height: 10px;
        min-height: 20px;
        padding-left: 10px;
        height: 10px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-button{
        height: 10px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #f3cbe3;
        border-radius: 6px;
        width: 4px;

        // height: 30px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 5px;
      }
   }
   ul.pack-block {
     .pack-block-wrapper{
       width: 100%;
     padding-left: 20px;
     padding-right: 7px;
     li{
      margin-bottom: 20px;
      &.mb-top{
        margin-top: 9%;
      }
    }
    li:last-child{
      margin-bottom: 0;
    }
     }
   
     .btn-wrapper{
   position: sticky;
   bottom: 25px;
   margin-bottom: 0;
   width: 97%;
   }
  }
   .bottom-shadow{
     display: none;
   }
    // top: 36px;
  }

}

// @media only screen and (min-width: 320px) and (max-width: 369px){  
//   .pack-listing-container {
//     .scrollable{
//       height: 57vh;
//      }
//     }
//   }
//   @media only screen and (min-width: 370px) and (max-width: 376px){  
//     .pack-listing-container {
//       .scrollable{
//         height: 58vh;
//        }
//       }
//     }
     

//   @media only screen and (min-width: 320px) and (max-width: 326px){  
//     .pack-listing-container {
//       .scrollable{
//         height: 49vh;
//        }
//       }
//     }