.subscription-payment-background {
    position: absolute;
    width: 100%;
    min-height: 400px;
    right: 0;
    top: -4em;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        width: 100%;
        max-height: 488px;
        position: absolute;
    }
}
p.in-progress{
    width: 100%;
    color: white;
    position: relative;
    // margin: 200px auto;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
    font-family: $font-family-medium!important;
}
@media only screen and (max-width: 480px) {
    .subscription-payment-background{
        width: 200%;
        // top:0;
        img{
           top:5%;
        }
    }
    p.in-progress{
        padding-top: 80px;
    }
}