.episodMenubar::-webkit-scrollbar {
  height: 4px; /* Safari and Chrome */
}
.episodMenubar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.episodMenubar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 16px;
}

/* Handle on hover */
.episodMenubar::-webkit-scrollbar-thumb:hover {
  /* background: #f1f1f1; */
  background: transparent;
}
.containerAllEpisode::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.containerAllEpisode {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  text-shadow: none;
}

.topBarContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 26px 0px 16px;
}

.iconCloseAllEpisode {
  width: 12px;
  height: 12px;
}
.allEpisodeHeader {  
  font-size: 20px;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  text-align: left !important;
  line-height: normal;
  letter-spacing: normal;
}
.containerEpisode {
  /* display: flex; */
  /* position: relative; */
  /* margin-bottom: 13% !important; */
  /* padding-left: 20px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  padding-bottom: 4.1%;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.episodeWrapper{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.episodeDetailWrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  margin: 4.1% 0;
}
.episodesImage {
  width: 100%;
  /* height: 14.8%; */
  /* display: flex;
  margin: 7.3% 0% 13% 6.7%;*/
  border-radius: 8px;
  /* position: relative; 
  top: 0;
  left: 0; */
}

.imageContainer {
  position: relative; 
  margin: 4.1%;
  /* top: 0;
  left: 0; */
  border-radius: 8px;
  overflow: hidden;
  width: 35%;
  flex-shrink: 0;
  flex-grow: 0;
  height: fit-content;
}

.playImage {
  width: 35%;
  /* height: 14.8%; */
  height: 32px;
  /* display: flex;
  margin: 13.3% 0% 13% 6.7%; */
  /* border-radius: 8px; */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* top: 35%;
  left: 35%; */
}
.episodeNoLabel {
  font-size: 12px;
  color: #86888b;
  /* position: absolute;
  top: 30%; */
  /* width: 50%; */
  /* margin-left: 45%;
  text-align: left; */
}
/* .assetTitleLabel {
  margin: 4px 38px 4px 12px;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  top: 50%;
   width: 50%; 
  margin-left: 45%;
  text-align: left;
} */

.assetTitleLabel {
  font-size: 16px;
  color: #ffffff;
  height: 27%;
  margin-top: 2px;
}

.contentSubTitleLabel {
  font-size: 16px;
  color: #ffffff;
  height: 27%;
  margin-top: 2px;
  text-align: start;
}

.descriptionLabel {
  /* margin: 16px 12px 0 0; */
  font-size: 12px;
  color: #86888b;
  margin-left: 4.1%;
  /* position: absolute;
  top: 77%; */
  /* width: 50%; */
  /* margin: 0% 7%;*/
  text-align: left; 
  line-height: normal;
}
.episodMenubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
  position: relative;
  /* top: 4%; */
  white-space: nowrap;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #444444;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-color: white transparent;
}
.nowWatching{
  font-size: 10px;
  visibility: hidden;
  background-color: #08426b;
  padding: 4.1%;
  width: fit-content;
  border-radius: 2px;
}
.progressBar{
  width: 100%;
  height: 3px;
  background-color: #86888b;
  visibility: hidden;
  /* opacity: 0.3; */
  position: absolute;
  bottom: 0;
  left: 0;
}
.myProgress{
  background-image: linear-gradient(to left, #40c6b6 97%, #0aa1ea 2%);
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.menuOption {
  /* display: inline; */
  display: block;
  color: white;
  text-align: center;
  margin: 0px 16px;
  padding: 16px 0px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
}

li .menuOption:hover {
  background-color: #111111;
}

.activeMenuOption {
  /* border-bottom: 4px solid #00b8f8;
  border-radius: 2px; */
  font-weight: bold; 
  position:relative;
}

.activeMenuOption:after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#00b8f8;
  height:4px;
  border-radius: 10px;
}

.allEpisodeDivider {
  width: 89%;
  margin-top: 10px;
  margin-left: 12px;
  border-radius: 0.5px;
  bottom: 14.7%;
  background-color: #2d3f5c !important;
  height: 1px;
  margin-bottom: 4px;
}
.activeEpisode {
  background-color: #11161f;
}
.logituit_allEpisode{
  background-color: #171f2c;
  position: absolute;
  z-index: 2;
  outline: none;
  width: 30.6%;
  min-width: 295px;
}
.logituit_allEpisodeTooltip {
  visibility: hidden;
  width: 72px;
  background-color: #171f2c;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
  padding: 6px 2px;
  /* Position the tooltip */
  position: absolute;
  /* left: -24px; */
  left: -20px;
  bottom: 90%;
  z-index: 1;
  max-width: none !important;
  text-shadow: none;
}
/* .logituit_allEpisodeIcon {
  border-right: 2px solid #86888b;
  padding-right: 76px;
} */
.logituit_allEpisodeIcon{
  position: absolute;
  background-size: contain !important;
  outline: none;
  height: 4.4%;
  width: 2.5%;
  display: block;
  transform: rotate(0deg);
  z-index: 1;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
@media (hover: hover) and (pointer: fine) {
  .logituit_allEpisodeIcon:hover .logituit_allEpisodeTooltip {
    visibility: visible;
  }
  .logituit_allEpisodeIcon:hover {
    transform: scale(1.1) !important;
    transition: none !important;
  }
}
@media (min-width:768px) and (max-width:1024px){
  .assetTitleLabel{
    font-size: 16px;
  }
  .descriptionLabel{
    font-size: 1vw;
  }
}
