
.ticket-container {
  min-height: 100vh;
  background: #fff;
  padding-bottom: 40px;

  .ticket-empty-message {
    text-align: center;
    font-size: 16px;
    margin: 4%;
    font-family: $font-family-regular;
    color: $main-background-color;
  }
  .container {
    width: 996px;
    max-width: 100%;
    margin: 0 auto;
  }
  .tickets-data {
    background: rgba(34, 0, 70, 0.1) !important;
    padding-bottom: 40px;
  }
  .page-header {
    padding-top: 15px;
    padding-bottom: 15px;

    .category-header {
      display: flex;
      align-items: center;
      .icon-contr {
        display: flex;
       color:$white-color;
        align-items: center;
        margin-right: 10px;
        width: 25px;
        cursor: pointer;
        img {
          max-width: 100%;
        }
      }
      .img-contr {
        height: 30px;
        width: 30px;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        background: #594074;
        padding: 6px;
        border-radius: 50%;
      }
      .text-contr-msg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 15px);
        font-size: 28px;
        font-family: $font-family-medium;
      }
    }
  }

  .nav-tabs {
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px 0;
    .active {
      border-bottom: 5px solid #220046;
      color: $bingeBlue-100;
      transition: opacity 0.15s linear;
    }
    li {
      width: 50%;
      text-align: center;
      padding-bottom: 17px;
      border-bottom: 1px solid #cbcbcb;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      font-family: $font-family-medium;
      color: #e10092;
      &:hover {
        color: $bingeBlue-100;
      }
    }
  }

  .ticket-outer {
  }
  .ticket-chat-container {
    padding-top: 29px;
    margin-bottom: -18px;
    background-color: #fff;
    border-top: 1px solid rgba(34, 0, 70, 0.1);
    // box-shadow: inset 0px 11px 8px -10px rgb(0 0 0 / 10%);
    
  }
}

@media screen and (max-width: 599px) {
  .ticket-container {
    .category-header .text-contr {
      font-size: 20px !important;
    }
    .nav-tabs {
      padding-top: 30px;

      li {
        padding-bottom: 15px;
        font-size: 16px;
        f &:hover {
          color: $bingeBlue-100;
        }
      }
    }
    .ticket-chat-container {
      padding-top: 20px;
      margin-bottom: -27px;
      background-color: #fff;
      border-top: 1px solid rgba(34, 0, 70, 0.1);
    }
  }
}
