#player .bmpui-controls-hidden {
  all: unset !important;
}

#player .bmpui-ui-controlbar.bmpui-hidden {
  visibility: unset !important;
  opacity: unset !important;
}

#player .bmpui-ui-titlebar.bmpui-hidden {
  visibility: unset !important;
  opacity: unset !important;
}


