 .video-see-all-page{

     section.page-header {
    .category-header {
      .img-contr {
        background: #594074 !important;
      }
    }
  
}
  .view-less{
      background: rgba(34, 0, 70, 0.1) !important;
      text-align: center;
      padding-bottom: 20px;
    }
}