@font-face {
    font-family: 'sky_reg';
    src:url('../assets/fonts/Sky_Reg.woff') format('truetype')
}

@font-face {
    font-family: 'sky_med';
    src:url('../assets/fonts/Sky_Med.woff') format('truetype')
}

@font-face {
    font-family: 'sky_bold';
    src:url('../assets/fonts/Sky_Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'sky_italic';
    src:url('../assets/fonts/Sky_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot');
    src:  url('../assets/fonts/icomoon.eot?1e1b1d#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'volte_medium';
    src: url('../assets/fonts/VoltePlay-Medium.woff') format('truetype')
}
@font-face {
    font-family: 'volte_reg';
    src: url('../assets/fonts/VoltePlay-Regular.woff') format('truetype')
}
@font-face {
    font-family: 'volte_semiBold';
    src: url('../assets/fonts/VoltePlay-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'volte_bold';
    src: url('../assets/fonts/VoltePlay-Bold.woff') format('truetype')
}

html {
    /* scrollbar-color: #52547a #33345d; */
    scrollbar-color: #6b00dd #33345d;
    scrollbar-width: thin;
    cursor: pointer;
}

body {
    margin: 0;
}

a {
    color: #e10092;
}

table,
th,
td {
    border: 0.5px solid #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 8px;
}

.terms-condition.main-container {
    margin-top: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #020005;
    cursor: default;
}

.terms-condition-container {
    color: #fff;
    padding: 10px 10px 50px 10px;
}

.terms-condition-container.form-container .page-heading {
    margin-top: 25px;
}

.terms-condition-container p.terms-condition-sub-head {
    font-size: 16px;
    font-family: volte_medium;
    margin-bottom: 12px;
}

.terms-condition-container .terms-condition-text {
    font-family: volte_reg;
    font-size: 14px;
    font-weight: normal;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: border-box;
}

.terms-condition-container .terms-condition-text p {
    line-height: 1.1;
}

.page-main-heading {
    font-family: volte_medium;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.3;
    font-style: normal;
    font-stretch: normal;
    color: #fff;
}

.center-align{
    text-align: center;
}

.sub-heading {
    margin-left: 10px;
}

.sub-heading-child {
    margin-left: 14px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #220046;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8856df;
    border-radius: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
(min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape),
(max-device-width: 892px) and (orientation: landscape){

    .form-container {
        padding: 1px 10px 50px 40px;
    }
}